Language: Cpp
BasedOnStyle: LLVM

# 1. 들여쓰기 및 줄 바꿈
IndentWidth: 4
ColumnLimit: 120
UseTab: Never

# 2. 중괄호 스타일 
BreakBeforeBraces: Allman

# 3. 네임스페이스 설정 
NamespaceIndentation: All    
CompactNamespaces: true     
FixNamespaceComments: true   

# 4. 헤더 정렬 및 PCH 최상단 고정 
SortIncludes: true
IncludeCategories:
  - Regex:           '^"pch\.h"'
    Priority:        -1
  - Regex:           '^<winrt/.*'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3
  - Regex:           '.*'
    Priority:        4

# 5. 기타 정렬
PointerAlignment: Left      
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true